<template>
  <div class="container">
    <h1>Vue Todo</h1>
    <todo-list></todo-list>
  </div>
</template>

<script setup lang="ts">
  useHead({
    title: 'Vue Todo',
  });
</script>

<style>
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}
</style>
