<script setup lang="ts">
import Todo from '../../models/Todo.js';

const {todos} = defineProps<{ todos: Todo[] }>()

const title = ref('');

function addTodo() {
  if (!title.value) return;
  todos.push({title: title.value, completed: false});
  title.value = '';
}
</script>

<template>
  <input type="text" v-model="title" @keydown.enter="addTodo()">
  <button @click="addTodo()">Add</button>
</template>
