<script setup lang="ts">
import Todo from '../../models/Todo.js';

const todos: Todo[] = reactive([
  { title: 'Buy milk', completed: false },
  { title: 'Buy eggs', completed: true },
]);

const totalCompleted = computed(() => todos.filter(todo => todo.completed).length);
const totalTodos = computed(() => todos.length);
</script>

<template>
  Add Item: <AddTodo :todos="todos"/>
  <ul>
    <todo-item v-for="todo in todos" :key="todo.title" :todo="todo"/>
  </ul>
  Completed {{ totalCompleted }} of {{ totalTodos }} tasks.
</template>
