<script setup lang="ts">
import Todo from '../../models/Todo.js';

const { todo } = defineProps<{ todo: Todo }>()
</script>

<template>
  <li>
    <input type="checkbox" v-model="todo.completed"/>
    {{ todo.title }}
  </li>
</template>
